body {
    background-color: #6B5B48;
    margin: 0;
    color: #fff;
}

#packages_img {
    position: fixed;
    right: 0;
    bottom: 0;
}

a, a:visited {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 4px;
}

a:hover {
    border-bottom: 4px solid #fff;
    padding-bottom: 0;
}

#top {
    height: 35px;
    background-color: #CEB089;
}

#top form {
    display: inline-block;
    margin-left: 250px;
}

#top input {
    border: 1px solid #6B5E50;
}

#top button {
    color: #fff;
    border: 1px solid #6B5E50;
    background: #6B5E50;
}

#top a, #top a:visited {
    display: inline-block;
    color: #6B5E50;
    height: 25px;
    border: 0;
    padding: 6px 2px 4px 2px;
}

#top a:hover {
    color: #CEB089;
    background-color: #6B5E50;
    border: 0;
}

#package_list {
    display: inline-block;
    border: 1px solid #CEB089;
    min-width: 350px;
    margin: 15px;
}

#package_list h1 {
    margin: 0;
    font-size: normal;
    background-color: #CEB089;
    color: #6B5B48;
}

#package_list > div{
    margin: 2px 5px 2px 5px;
}
